include ~components/menu/mixin

+menu({
	class: 'js-menu-main',
	menu: [
		{
			title: 'Оплата',
			href: '#about',
			icon: 'wallet'
		},
		{
			title: 'Личный кабинет',
			href: '#org',
			icon: 'lk'
		},
		{
			title: '+7 (499) 186-05-61',
			href: 'tel:+74991860561',
			icon: 'tel'
		}
	]
})
