.section-health-service {
  padding: 50px 0;

  &__text {
    margin: 30px 0 38px;
    font-size: 18px;
  }

  &__sub-text {
    font-size: 12px;
    color: #3664AD;
  }

  .title-with-icon {
    margin-top: 46px;
  }
}


