include ~components/title-with-icon/mixin
include ~components/news-item/mixin

.section-news.js-section-news
	.l-container
		+title-with-icon({
			title: 'Новости',
			icon: '/images/section-news/speaker.svg',
		})

		-
			items = [
				{
					title: 'В нашей сети к просмотру будет доступно более 50 HD каналов без дополнительной оплаты',
					date: '20.03.2020',
					description: 'На период пандемии нашим абонентом станут доступны каналы в HD качестве совершенно бесплатно...',
					href: 'link'
				},
				{
					title: 'Делаем все возможное, чтобы услуги были доступны в период пандемии',
					date: '18.03.2020',
					description: 'Услуги телевидения от нашей компании будут доступны, принимаем все необходимы меры для противодействия коронавируса...',
					href: 'link'
				},
				{
					title: 'В нашей сети к просмотру будет доступно более 50 HD каналов без дополнительной оплаты',
					date: '20.03.2020',
					description: 'На период пандемии нашим абонентом станут доступны каналы в HD качестве совершенно бесплатно...',
					href: 'link'
				},
				{
					title: 'Делаем все возможное, чтобы услуги были доступны в период пандемии',
					date: '18.03.2020',
					description: 'Услуги телевидения от нашей компании будут доступны, принимаем все необходимы меры для противодействия коронавируса...',
					href: 'link'
				},
			]

		.section-news__body
			.news-slider
				each item in items
					.news-slider__item
						+news-item(item)
