.section-news {
  .title-with-icon {
    margin: 0
  }

  .news-slider {
    padding: 0 96px;
  }

  .owl-carousel .owl-stage-outer {
    padding: 60px 0;
    overflow: visible;
  }

  .owl-item {
    opacity: 0;

    &.active {
      opacity: 1;
    }
  }
}


