.section-rules
	.l-container
		.section-rules__head
			h2.section-rules__title Условия подачи заявки и участия
		.section-rules__body
			.section-rules__main
				p В хакатоне принимают участие команды по 3-5 человек. </br> Вы можете оставить заявку на участие: как уже с готовой идеей, так и без нее — описав, как вы можете помочь. Прием заявок на участие до 27 апреля (включительно). Результаты предварительного отбора будут объявлены 30 апреля.
				p Если вы хотите помочь в разработке решения, но у вас нет идеи проекта — вы также можете подать заявку, всем прошедшим отбор будет предложено присоединиться к одной из команд.
			.section-rules__aside
				.section-rules__date
					.section-rules__date-title до 27 апреля
					p Приём заявок на участие
				.section-rules__date
					.section-rules__date-title 30 апреля
					p Объявление результатов
