@import "~common/styles/variables/transitions";

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.is-animated {
  animation-duration: $animation-time;
}

.a-opacity {
  animation-name: opacity;
}
