.section-about.js-section-about
	.l-container
		.section-about__body
			.section-about__list(data-rel="section.about.slider")
				.section-about__panel
					h2.section-about__panel-title Герой нашего времени, кто он?
					.section-about__panel-text
						.l-row
							.l-col-sm-6
								p Для большинства — это врач или спасатель.
								p Для нас — это профессионал своего дела, который стремится сделать жизнь других людей лучше с помощью своих знаний и идей.
							.l-col-sm-6 Мало кто задумывается о том, что каждый день разработчики, программисты, аналитики, инноваторы и визионеры создают решения, которые меняют нашу реальность и иногда даже спасают жизни.
				.section-about__panel
					h2.section-about__panel-title Цель хакатона
					.section-about__panel-text
						p Цель хакатона — создать условия для реализации социально-значимых цифровых продуктов.
						p Мы убеждены, что люди с разным опытом, но общей идеей, вместе смогут быстрее разработать и реализовать проекты, направленные на борьбу с пандемией COVID-19. Только приложив совместные усилия, нам получится справиться с наступившим кризисом.
						p Поэтому мы хотим поддержать всех, кто готов принять участие в создании инновационных решений.
