include ~components/title-with-icon/mixin

.section-tv-without-equipment.js-section-banner
	.l-container
		+title-with-icon({
			title: 'Цифровое ТВ без оборудования',
			description: 'Лучшая замена спутниковому, эфирному <br> и телевидению через интернет',
			icon: '/images/section-tv-without-equipment/title-icon.svg'
		})
