-
	URL = 'https://hackthecrisisrussia.ru'
	TITLE = 'MCS – Mail.Ru Cloud Solutions | Хакатон Hack the Crisis Russia'
	DESCRIPTION = 'Cообщество разработчиков HackTheCrisisRussia, Mail.ru Cloud Solutions и Ontico запускают онлайн-хакатон для разработчиков решений, которые помогут в ситуации кризиса, связанного с пандемией коронавируса.'
