.icon-lk {
  font-size: 18 * 1px;
  height: 1em;
  width: (18/18) * 1em;
}
.icon-slider-next {
  font-size: 50 * 1px;
  height: 1em;
  width: (50/50) * 1em;
}
.icon-slider-prev {
  font-size: 50 * 1px;
  height: 1em;
  width: (50/50) * 1em;
}
.icon-tel {
  font-size: 18 * 1px;
  height: 1em;
  width: (18/18) * 1em;
}
.icon-wallet {
  font-size: 18 * 1px;
  height: 1em;
  width: (18/18) * 1em;
}
